body {
    margin: 0px;
    overflow-x: hidden;
}
a {
    font-family: Arial, verdana, helvetica; 
    font-size: 11px; 
    color: #000;
    text-decoration: none;
    display: inline-block;
    width:300px;
}
a:hover {
    text-decoration: underline;
}
.del {
    width: auto;
}
#breadcrumbs {
    display: inline-block;
    font-size:10px;
    font-family:Tahoma;
    position: fixed;
    width:100%;
    background-color: #FFF;
    top:119px;
}
#breadcrumbs a {
    width: auto
}
.wysiwyg-hover {
    position:relative;
    right:0;
    display: inline-block;
    width:16px;
    height:16px;
    cursor: zoom-in;
}
.wysiwyg-tooltip { /* hide and position tooltip */
    opacity:0;
    position:absolute;
    top:-10000px;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    width:0;
    cursor: pointer;
    border:1px solid #ccc;
    padding:10px;
    background-color: #fff;
}
.wysiwyg-tooltip img {
    position: relative;
    max-width:280px;
    top:0;
    left:0;
}
.wysiwyg-hover:hover .wysiwyg-tooltip { /* display tooltip on hover */
    position: fixed;
    opacity:1;
    z-index:1000;
    width:280px;
    height:280px;
    top:0;
    left:0;
    overflow-y:hidden; 
}
#send {
    position:fixed;
    background-color: #FFF;
    height:90px;
    top:0;
}
h2 {
    padding:0;
    margin: 0;
    top:90px;
    position:fixed;
    background-color: #FFF;
    width:100%;
}
p {
    margin-top:140px;
    overflow-x:hidden; 
}
.error {
    display: inline-block;
    background-color:#C95A52;
    color:#FFF;
    padding:5px;
    text-align: center;
    margin-top: 2px;
    width:100%;
}