.msgFlash {
    max-width:50%;
    /*width:30%;*/

    margin-bottom: 1rem;
    padding:0 50px 0 20px;
    
    position:fixed;
    top:45px;
    right:10%;
    z-index: 120;
    
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    border:1px solid;
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
       -moz-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
            box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);

    text-align: justify;

    max-height:300px;
    overflow-y: auto;
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word; 
}
.msgFlash a,
.msgFlash a:hover {
    color: inherit;
}
.msgFlash ul li {
    list-style-type: none;
    padding: 0;
    text-indent: -30px;
}
.close-right {
    font-weight: bold;
    font-size: 21px;
    font-family: Late, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#000;
    opacity: 0.25;

    cursor:pointer;

    position: absolute;
    right:10px;
    top: 0;
    z-index: 99;
    
    padding-right: 5px;
    padding-left: 5px;
}
.close-right-error:hover,
.close-right:hover {
    opacity: 0.4;
}
.close {
    display: none;
}

.alert--error {
  background-color: #D9534F;
  color: #fff;
  box-shadow: none;
}