/* ----------------------------- */
/* ==Var                        */
/* ----------------------------- */
:root {
    --gray-100:     #f8f9fa;
    --gray-200:     #e7e9ed;
    --gray-300:     #dee2e6;
    --gray-400:     #ced4da;
    --gray-500:     #acb3c2;
    --gray-600:     #727e96;
    --gray-700:     #454d5d;
    --gray-800:     #333;
    --gray-900:     #212529;
    --black:        #000;
    --blue-300:     #5BC0DE;
    --blue-400:     #00A1A1;
    --blue-500:     #0275D8;
    --green-500:    #5CB85C;
    --green-800:    #015927;
    --orange-500:   #F0AD4E;
    --red-300:      #d0021b;
    --red-500:      #D9534F;

    --bubble-back: #f8f9fa;
    --bubble-border:#5BC0DE; 
    --bubble-back-rgba:rgba(231, 233, 237, 0);
    --bubble-border-rgba:rgba(91, 192, 222, 0);
    --arrow-width:12px;
    --arrow-negwidth:-12px;
    --arrow-doublewidth:-24px;
}
/* ----------------------------- */
/* ==Nav                         */
/* ----------------------------- */
nav[role=navigation] {
    border-bottom:1px solid var(--blue-300);
}
nav[role=navigation] a {
    color:var(--blue-500);
}
.important, 
nav[role=navigation] a.important { 
    color:var(--red-500);
}
/*nav[role=navigation] li {
    border-bottom: 1px solid var(--gray-100);
}*/
.menu-checkbox:focus + .menu-toggle {
    outline: var(--blue-400) auto 1px;
}
.icon .bg {
  fill: var(--blue-300);
}
#nav-right,
#nav-left {
    background: var(--blue-500);
}
#nav-right li a,
#nav-left li a {
    color:white;
}
/* ----------------------------- */
/* ==Misc                        */
/* ----------------------------- */

header {
    background-color: var(--blue-500);
    border-bottom: 2px solid var(--blue-300);
}
.wrapper,
.login {
    border:1px solid var(--gray-200);
    -webkit-box-shadow: 3px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 4px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 4px 5px rgba(50, 50, 50, 0.75);
}
h1 {
    color: white; 
    text-shadow: 1px 1px 0px #444;
}
h2 {
    color:var(--blue-500);
}
h3 {
    color:var(--gray-700);
}

.errors {
    background-color: lightyellow; 
    color: red; 
    border: 1px solid red;
}

.categories {
    background-color: #333;
}
.categories a {
    color: white; 
}

.table.table--zebra thead { 
    background-color: var(--gray-300); 
    color:white;
}

.table.table--zebra,
.table.table--zebra th,
.table.table--zebra td {
    border-color: var(--gray-400);
}

.table--zebra tbody tr:nth-child(odd) {
  background: var(--gray-100);
}

.escape {
    color: var(--gray-600);
}

.mandatory {
    color:red;
}
textarea:required:invalid,
input:required:invalid {
    border:1px solid red;
    box-shadow: unset;
}
#preview {
    color: var(--gray-900);
}
/*section.grid-6 div {
    border:1px solid var(--gray-300);
}
section.grid-6 div a:visited  span,
section.grid-6 div a:active  span,
section.grid-6 div a span {
    color:var(--green-800);
}
*/
a.btn,
a.button {
    border:1px solid var(--gray-900);
}
footer {
    background-color: var(--blue-300) ;
}

.breadcrumbs span {
    border:1px solid var(--gray-200);
    border-left:1px solid var(--bubble-border);
}

.breadcrumbs a {
    border:1px solid var(--bubble-border);
    border-right:none;
    background: var(--bubble-back);
}

.breadcrumbs a:after,
.breadcrumbs span:after {
    border-color: var(--bubble-back-rgba);
    border-left-color: var(--bubble-back);
}
.breadcrumbs a:before,
.breadcrumbs span:before {
    border-color: var(--bubble-border-rgba);
    border-left-color: var(--bubble-border);
}