nav[role=navigation] {
    flex-basis: 100%;
    list-style: none;
    max-height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0 2em;
    text-transform: uppercase;
    transition: margin .5s ease-in-out, max-height .5s ease-in-out, opacity .3s .1s ease-in-out;
    visibility: hidden;
}
nav[role=administration] li {
    width:100%;
}
nav[role=navigation] li {
    margin-bottom:1em;
}
nav[role=navigation] li a {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
}
.menu-checkbox:checked ~ nav[role=navigation] {
    margin: 0 0 1em 0;
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
}
.menu-checkbox {
    opacity: 0;
    position: absolute;
    top: -1000px;
}
.menu-toggle {
    padding: .5em 1em;
    position:absolute;
    top:0;
    right:0;
}
.nav-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav[role=navigation] {
    flex-basis: 100%;
}
@media screen and (min-width: 65em) {
    nav[role=navigation] {
        flex-basis: fill;
        margin: 0;
        max-height: 1000px;
        opacity: 1;
        padding: 0;
        visibility: visible;
    }
    nav[role=navigation] li {
        border: none;
        display: inline-block;
        margin-bottom:0.5em;
    }
    nav[role=navigation] li:first-child {
        padding-left: 0.5em;
    }
    nav[role=navigation] li a {
        text-decoration: none;
        padding: .5em;
    }
    nav[role=navigation] a > span {
        display: none;
    }
    .menu-toggle,
    .menu-checkbox {
        display: none;
    }
}
@media screen and (max-width: 65em) {
    nav[role=navigation] .fr {
        float: none;
    }
}
nav[role=navigation] li a:hover {
    text-decoration: underline;
}

/* ----------------------------- */
/* ==Nav Left and Right          */
/* ----------------------------- */
#nav-right,
#nav-left {
    position: fixed;
    height: 100%;
    top: 100px;
    width: 400px;
    z-index: 999;
    opacity: 0.8;
    /* Evite la séléction du texte au double clic */
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    box-shadow: 3px 0 10px rgba(0,0,0,0.2); 
}
#nav-left {
    left: -400px;
    transition: left 0.75s;
}
#nav-right {
    right:-400px;
    transition: right 0.75s;
}
#nav-right li:first-child,
#nav-left li:first-child {
    margin-top: 20px;
    padding-left: 0;
}
#nav-right li a,
#nav-left li a {
    display: block;
    padding:0.2em 20px;
    outline: none;
    text-decoration: none;
}
#nav-left:target {
    left: 0;
    transition: left 0.75s;
}
#nav-right:target {
    right: 0;
    transition: right 0.75s;
}
.open-menu,
#nav-left:target ~ .close-menu,
.open-menu-right,
#nav-right:target ~ .close-menu-right {
    display: block;
}
nav li a.close-menu,
#nav-left:target ~ .open-menu,
nav li a.close-menu-right,
#nav-right:target ~ .open-menu-right {
    display: none;
}
nav li a.close-menu-right,
nav li a.close-menu {
    font-size: 18px;
}
nav li a.close-menu-right:hover,
nav li a.close-menu:hover {
    text-decoration: none;
}
@media only screen and (max-width: 400px) {
    #nav-right,
    #nav-left {
        width: 100%;
    }
}
@media screen and (max-width: 65em) {
    #nav-right,
    #nav-right nav,
    #nav-left,
    #nav-left  {
        display: block;
        position: inherit;
        width: 100%;
        left:0;
        transition: none;
        background:none;
        box-shadow:none;
    }
    nav[role=navigation] li.submenu {
        border-bottom: none;
    }
    nav[role=navigation] li.submenu > a {
        display: none;
    }
    svg {
        display: none;
    }
}