:root {
    --font-stack-headings:sans-serif;
}
/* ----------------------------- */
/* ==Debug align                 */
/* ----------------------------- */
/*#ligne {
position:absolute;
width: 100%;
/*height:100%;*/
/*margin-left:20%;*/
/*border-bottom:1px solid red;
border-left:1px solid red;
top:80px;
}*/
/* ----------------------------- */
/* ==Text                        */
/* ----------------------------- */

.uppercase {text-transform:uppercase;}

/* ----------------------------- */
/* ==Forms                       */
/* ----------------------------- */

label {display: block;}
textarea {
    white-space:pre-wrap;
}
form {
    margin-bottom: 50px;
}

form.large input:not([type=submit]),
form.large select {
    width:50%;
}

td.td-form form{
    margin-top:25%;
} 

.login {
    width:400px;
    margin:50px auto;
}
.login input:not([type=submit]) {
    border: none;
    box-shadow: unset;
    background: none;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color:var(--blue-500);
    left:20px;
}
.hover-underline-animation::after {
    content:'';
    position: absolute;
    width:100%;
    transform: scaleX(0);
    height:2px;
    bottom: 0;
    left:0;
    background-color: var(--blue-500);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.login label {
    display: flex;
    margin-left:-200vw;
}
.escape {
    cursor:pointer;
}
#preview {
    width:150px;
    min-height: 150px;
    border:1px solid;
    text-align: center;
    vertical-align: middle;
    font-size: 150px;
}
/* ----------------------------- */
/* ==Elements                    */
/* ----------------------------- */

body {
    font:var(--font-stack-headings);
    font-size:1.6rem;
}
.wrapper {
    position: relative;
    padding: 2rem;
    margin:1rem;
    text-decoration: none;
    border:none;
}

h1 {
    padding:3px 0 3px 0.5em;
}
h2,
h3 {
    padding:10px 0;
}
h2 {
    border-bottom: 1px solid;
}
h3 {
    margin:0 0 20px 20px;
}

.articlelist {
    display: table;
}
.categories,
.articles {
    display: table-cell;
}
.categories {
    position: sticky;
    width: 20%; 
    padding: 1em; 
    list-style-type: none;
}
.categories a {
    text-decoration: none;
}
.categories li {
    margin-bottom: 1em;
}
.articles {
    padding: 1em;
}
a.tag {
    text-decoration: none;
}
/*section.grid-6 div {
    display: flex;
}
section.grid-6 div img,
section.grid-6 div a{
    margin:auto;
    text-decoration: none;
}
section.grid-6 div a span {
    display: inline-block;
    margin-left:-60%;
}*/
.add-media {
    margin-top:-3em;
}
footer {
    position:fixed;
    bottom: 0;
    width:100%;
}

.pagination a {text-decoration: none;}

footer.clearfix {padding:3px 0;} 
footer.clearfix .fl {margin-left: 10px;}
#clock {margin-right: 10px;}

.errors{
    padding: 1em; 
    margin-bottom: 1em; 
    overflow: auto;
}
.errors ul {
    margin-left: 1em;
}
@media screen and (max-width: 65em) {
    .add-media {
        margin-top:-5em;
    }
}
/* ----------------------------- */
/* ==Breadcrumbs                 */
/* ----------------------------- */

.breadcrumbs {
    margin: 20px;
}
.breadcrumbs a,
.breadcrumbs span {
    position: relative;
    padding:10px 15px;
}
.breadcrumbs a:after, .breadcrumbs a:before,
.breadcrumbs span:after, .breadcrumbs span:before {
    left: -1px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.breadcrumbs a:after,
.breadcrumbs span:after {
    border-width: 8px;
    margin-top: -8px;
}
.breadcrumbs a:before,
.breadcrumbs span:before {
    border-width: 9px;
    margin-top: -9px;
}
.breadcrumbs a:first-child:after,
.breadcrumbs a:first-child:before {
    border:none;
}

.sortMe th[data-do-sort] {
    cursor: pointer;
}

.sortMe th[data-do-sort]::after {
    content: "▸";
    width: 15px;
    display: inline-block;
    height: 15px;
    font-size: .8em;
}

.sortMe th.active-sorting[data-sort-direction="0"]::after {
    content: "⏷";
}
.sortMe th.active-sorting[data-sort-direction="1"]::after {
    content: "⏶";
}