.table.table--zebra,
.table.table--zebra th,
.table.table--zebra td
{
    vertical-align: middle;
    text-align: center;
    border:1px solid;
}

th,
td {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}

.hide {
    display: none;
}

.toogleRename {
    cursor: pointer;
}

.escape {
    font-style: italic;
    font-size: small;
    font-weight: lighter;
}

label.small {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}