.bubble {
      background: var(--bubble-back);
      border: 2px solid var(--bubble-border);
      box-shadow: 13px 13px 5px rgba(50, 50, 50, 0.75);
      padding:40px 40px 40px 10px;
      z-index: 99;
      text-align: left;
      border-radius: 1%;
}
.bubble:after, 
.bubble:before {
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
}
.bubble:after {
      border-color: var(--bubble-back-rgba);
      border-width: 15px;
}
.bubble:before {
      border-color: var(--bubble-border-rgba);
      border-width: 21px;
}

.bubble--top:after,
.bubble--top:before {
      top: 100%;
      left: 50%;
}
.bubble--top:after {
      border-top-color: var(--bubble-back);
      margin-left: -15px;
}
.bubble--top:before {
      border-top-color: var(--bubble-border);
      margin-left: -21px;
}

.bubble--right:after,
.bubble--right:before {
      right: 100%;
      top: 50%;
}
.bubble--right:after {
      border-right-color: var(--bubble-back);
      margin-top: -15px;
}
.bubble--right:before {
      border-right-color: var(--bubble-border);
      margin-top: -21px;
}

.bubble--bottom:after,
.bubble--bottom:before {
      bottom: 100%;
      left: 50%;
}
.bubble--bottom:after {
      border-bottom-color: var(--bubble-back);
      margin-left: -15px;
}
.bubble--bottom:before {
      border-bottom-color: var(--bubble-border);
      margin-left: -21px;
}

.bubble--left:after,
.bubble--left:before {
      left: 100%;
      top: 50%;
}
.bubble--left:after {
      border-left-color: var(--bubble-back);
      margin-top: -15px;
}
.bubble--left:before {
      border-left-color: var(--bubble-border);
      margin-top: -21px;
}


.bubble p {
      white-space: nowrap;
}
.bubble ul,
.bubble ul li {
      list-style: none;
      margin:0;
      padding-bottom:10px;
}
.close-bubble {
      position: absolute;
      top:-15px;
      right:-15px;
      width: 30px;
      height: 30px;
      background-color: red;
      color: #fff;
      border-radius: 50%;
      cursor: pointer;
      vertical-align: middle;
      text-align: center;
      padding:0.5rem;
}
.bubble form {
      margin-bottom: 0;
}